<div class="quote__text">{{{ time }}}</div>
<div class="quote__author">{{{ quote }}}</div>
<div class="quote__author">{{{ coin }}}</div>
<div class="holder">
    <div class="quote__author">{{{ USD }}}</div>
    <div class="quote__author">{{{ USD_P }}}</div>
</div>
<div class="holder">
    <div class="quote__author">{{{ EUR }}}</div>
    <div class="quote__author">{{{ EUR_P }}}</div>
</div>
<div class="holder">
    <div class="quote__author">{{{ GBP }}}</div>
    <div class="quote__author">{{{ GBP_P }}}</div>
</div>